:root {
    --primary-text-color: #000;
    --background-color: #fff;
}

[data-theme="dark"] {
    --primary-text-color: #fff;
    --background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;    
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

